<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off">
            <input 
                type="search" 
                name="termino" 
                placeholder="Buscat País"
                class="form-control"
                [(ngModel)]="termino"
                (keyup.enter)="buscar()">
        </form>
    </div>
</div>

<hr>
<div class="alert alert-danger">
    No se encontro el remino
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Población</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>XXX</td>
                    <td>México</td>
                    <td>1000</td>
                    <td>
                        <a href="http://">Ver...</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>